@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body, html {
    width: 100vw;
    overflow-x: hidden;
    background: #332b3a;
    color: white;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2em;
}

h2 {
    margin: 0;
    font-size: 1em;
    color: #afafaf;
}

.box.title {
    text-align: center;
}

.box.content {
    padding: 1rem;
    max-width: 100vh;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 1rem;
}

.card {
    min-width: 5rem;
    padding: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, .1);
    border-radius: 1.25em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.3 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;
    inline-size: 1;
    flex-grow: 1;
    overflow-wrap: break-word;
}

.card:hover {
    background: rgba(255, 255, 255, .25);
}

.cardicon {
    color: white;
    background-color: rgba( 255, 255, 255, 0.3 );
    height: 5em;
    width: 5em;
    border-radius: 100%;
    border: 1px solid rgba( 255, 255, 255, 0.3 );
}

.panel {
    min-height: 105vh;
    padding: 1rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;
    animation: firstanim 1s ease 0s 1 normal forwards;
}

.panel.welcome {
    background-color: #332b3a;
}

.panel.services {
    background-color: #132666;
}

.panel.people {
    background-color: #3a4d8f;
}

.panel.contact {
    background-color: #6a95cc;
}

@keyframes firstanim {
	0% {
        opacity: 0;
		/* transform: scale(0); */
	}

	100% {
        opacity: 100;
		/* transform: scale(1); */
	}
}

::-moz-selection { /* Code for Firefox */
    background: #a1caff;
  }
  
  ::selection {
    background: #a1caff;
  }