@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    width: 100vw;
    overflow-x: hidden;
    background: #313131;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2em;
}

h2 {
    margin: 0;
    font-size: 1em;
    color: #aaaaaa;
}

.box.title {
    text-align: center;
}

.box.content {
    max-width: 100vh;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
    column-gap: 1rem;
}

.card {
    min-width: 5rem;
    padding: 1rem;
    text-align: center;
    background: rgba(0, 0, 0, .25);
    border-radius: 1.25em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.3 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;
    inline-size: 1;
    flex-grow: 1;
    overflow-wrap: break-word;
}

.card:hover {
    background: rgba(0, 0, 0, .45);
}

.cardicon {
    height: 5em;
    width: 5em;
    border-radius: 100%;
    border: 1px solid rgba( 255, 255, 255, 0.3 );
}

.panel {
    min-height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.panel.services {
    background-color: #323232;
    background: url('https://network.licen777.ru/assets/images/ovh-fire.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.panel.people {
    background-color: #323232;
    /* margin-bottom: 250vh; */
}